@inherits LayoutComponentBase
<MiniBay.Client.Shared.NavMenu />
    
<body class="@(isDarkMode ? "dark-mode" : "")">
    <div class="page">
        <div class="sidebar">
            <NavMenu ToggleDarkMode="ToggleDarkMode" />
        </div>
        @Body
    </div>
</body>

@code {
    private bool isDarkMode = false;

    private void ToggleDarkMode()
    {
        isDarkMode = !isDarkMode;
    }
}
