@inherits LayoutComponentBase
@using MiniBay.Client.Shared


<div class="page @(isDarkMode ? "dark-mode" : "")">
    
   
    <NavMenu ToggleDarkMode="ToggleDarkMode" />

    <main>
        
        <article class="content">
            @Body
        </article>
    </main>

    <Notification />

</div>
<Notification />

@code {
    private bool isDarkMode = false;

    private void ToggleDarkMode()
    {
        isDarkMode = !isDarkMode;
    }
}